* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Playfair Display", serif;
  text-rendering: optimizeLegibility;
}

.main {
  background-image: url("./images/computerDesk.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  flex-direction: column;
}

.centered {
  font-size: 76px;
  color: white;
  text-shadow: 3px 3px black;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clearfix {
  clear: both;
}

/*------------------------------------*\
NAVBAR
\*------------------------------------*/

.nav {
  width: 100%;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  z-index: 2;
  font-size: 20px;
  text-align: center;
  position: relative;
  font-size: 14px;
  font-weight: 900;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-item {
  /* float: left; */
  text-align: center;
  display: inline-block;
  zoom: 1;
  list-style-type: none;
  font-size: 30px;
}

.nav-item a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.nav-item a:hover {
  background: #2c3e50;
}
/* Mobile Navigation */
.nav-mobile {
  display: none; /* Hide from browsers that don't support media queries */
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: #34495e url(./images/nav.svg) no-repeat center center;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/*------------------------------------*\
ABOUT
\*------------------------------------*/
.aboutSec {
  margin-top: 20px;
}

#aboutTitle {
  text-align: center;
  font-size: 40px;
}

#designDevheader {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
}

.smallsep {
  height: 3px;
  background-color: #444;
  max-width: 100px;
  margin: 0px auto;
  margin-bottom: 10px;
  margin-top: 15px;
}

/* .imageDiv {
  width: 200px;
  height: 120px;
} */

.aboutImage {
  display: block;
  margin: auto;
  width: 90%;
  height: auto;
  margin-top: 35px;
}

/*------------------------------------*\
SERVICES
\*------------------------------------*/
.servicesSec {
  margin-top: 20px;
}

#servicesHeader {
  text-align: center;
  /* font-size: 20px; */
  font-size: 60px;
  margin-top: 60px;
}

.servicesTitle {
  margin: 20px;
}

.textDec {
  text-align: center;
  margin: 20px 50px;
  font-size: 15px;
}

.icons {
  width: 80%;
}

.one-third {
  width: 28%;
  float: left;
  margin: 1% 0 0 4%;
  text-align: center;
}

.one-third i {
  color: rgb(15, 131, 237);
  font-size: 500%;
  margin-bottom: 10%;
}

/*------------------------------------*\
Portfolio
\*------------------------------------*/
.mainPortDiv {
  margin-bottom: 20px;
}
.portfolioSec {
  margin-top: 20px;
}

#portfolioHeader {
  text-align: center;
  /* font-size: 20px; */
  font-size: 60px;
  margin-top: 60px;
}

.portfolioTitle {
  margin: 20px;
}

.textDecPort {
  text-align: center;
  margin: 20px 50px;
  font-size: 15px;
}

.iconsPort {
  width: 70%;
}

.one-thirdPort {
  text-align: center;
  float: left;
  margin: 4% 0 40px 30px;
  /* width: 10px; */
  /* margin: 0.5em;
  padding: 0.5em; */
  /* margin-top: 20px; */
}

.one-thirdPort i {
  color: rgb(15, 131, 237);
  font-size: 500%;
  margin-bottom: 10%;
}

/*------------------------------------*\
CONTACT
\*------------------------------------*/
.contact {
  background-color: black;
  padding-bottom: 35px;
}

#contactTitle {
  text-align: center;
  color: white;
  /* font-size: 20px; */
  font-size: 50px;
  margin-top: 20px;
  padding-top: 35px;
}

#contactText {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
  color: white;
}

#contact {
  /* margin-top: 5%; */
  text-align: center;
}

#contact h3 {
  color: #f96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  /*margin: 0 0 10px;*/
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
  width: 75%;
  /*border:1px solid #CCC;*/
  background: #fff;
  margin: 0 0 5px;
  padding: 1%;
  border-radius: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 90px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 25%;
  border: none;
  background: rgb(15, 131, 237);
  color: #fff;
  margin: 0 0 5px;
  padding: 11px;
  font-size: 80%;
  border-radius: 10px;
}

#contact button[type="submit"]:hover {
  background: #09c;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
/*------------------------------------*\
Footer
\*------------------------------------*/
footer {
  background-color: gray;
  opacity: 0.9;
  width: 100%;
  padding: 1% 0;
  overflow: auto;
}

footer h3 {
  text-decoration: underline;
  font-size: 25px;
}

.footercontact {
  text-align: center;
  margin-bottom: 8px;
  font-size: 17px;
}

.footerContactInfo {
  margin-top: 50px;
}

.footercontactTitle {
  margin-top: 45px;
  font-size: 18px;
}

.phone {
  color: black;
  margin: 30px;
  font-size: 20px;
}

.social {
  list-style-type: none;
  margin-top: 5%;
  padding: 0;
  color: white;
}

.social li {
  display: inline;
}

.social i {
  font-size: 210%;
  padding: 3%;
}

.social i:hover {
  background: rgb(171, 187, 183);
}

.google-maps {
  position: relative;
  padding-bottom: 70%;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  margin-top: 5%;
}

.navItems {
  list-style-type: none;
  font-size: 17px;
  color: black;
  margin-bottom: 45px;
}

#navigate {
  /* margin-bottom: 7px; */
}

#copyright {
  text-align: center;
}

/*------------------------------------*\
Media Queries
\*------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .nav-mobile {
    display: block;
  }
  .nav {
    width: 100%;
    padding: 40px 0 0;
  }
  .nav-list {
    display: none;
  }
  .nav-item {
    width: 100%;
    float: none;
  }
  .nav-item a {
    background: #34495e;
    padding: 10px;
  }
  .nav-item:first-child a {
    border-radius: 5px 0 0;
  }
  .nav-item:last-child a {
    border-radius: 0 0 5px 5px;
  }
  .nav-active {
    display: block;
  }
  .nav-mobile-open {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
  }
  .bg {
    /* height: 50%; */
  }
  .centered {
    /* margin-bottom: 10px; */
    font-size: 43px;
  }
}
